[Unit]
Description=arylic-mqtt
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill arylic-mqtt
ExecStartPre=-/usr/bin/docker rm arylic-mqtt
ExecStart=/usr/bin/docker run \
      --name arylic-mqtt \
      --net host \
      -e MQTT_HOST=192.168.1.152 \
      -e MQTT_PORT=1883 \
      -e QUARKUS_HTTP_PORT=8080 \
      -v /var/run/dbus:/var/run/dbus \
      -v /var/run/avahi-daemon/socket:/var/run/avahi-daemon/socket \
      ghcr.io/mouse256/arylic-mqtt:latest
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

