---
name: Run Tests

on:
  pull_request:
    types:
      - opened
      - synchronize
      - labeled

jobs:
  build:
    if: github.actor == 'dependabot[bot]' || github.actor == 'mouse256' || github.event.label.name == 'queued'
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Checkout
        uses: actions/checkout@v5
        with:
          path: homeassistant-discovery
          repository: mouse256/homeassistant-discovery

      - uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: wrapper
      - name: Run build with Gradle Wrapper
        run: ./gradlew check -PhaDiscoveryDir=homeassistant-discovery
      - name: Auto Merge
        if: ${{ github.actor == 'dependabot[bot]' }} # Ensure this only applies to Dependabot PRs
        run: gh pr merge --rebase --auto ${{ github.event.pull_request.number }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
